@font-face {
    font-family: 'pixel_operator_monobold';
    src: url('pixeloperatormono-bold-webfont.woff2') format('woff2'),
         url('pixeloperatormono-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}